@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #0E1116;
  --secondary-dark: #161B22;
  --tertiary-dark: #028848;

  --black: #000000;
  --white: #FFFFFF;
  --hyperlink: #1875FC;

  --font-roboto: 'Roboto', sans-serif;

  --custom-2xs: 6px;
  --custom-xs: 8px;
  --custom-sm: 12px;
  --custom-md: 16px;
  --custom-lg: 20px;
  --custom-xl: 24px;
  --custom-2xl: 32px;
  --custom-3xl: 36px;
  --custom-4xl: 48px;
  --custom-5xl: 64px;
  --custom-6xl: 72px;
}

body {
  @apply text-white bg-primaryDark;
  @apply text-base font-roboto font-thin text-center;
}